/*Global Selectors*/
* {
        
    box-sizing: border-box; /*To add padding and border to the size of element (included)*/
}
body {
    font-family:'Dosis', sans-serif;
    margin: 0;
    vertical-align: middle;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  /*overflow: hidden;*/      
}

/*background-color:rgb(240,244,248)*/

nav li {
  float: left; /*31 Agustos*/
}

li a:hover {
  background-color:rgb(212,219,227)
    }

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 14px;
  text-decoration: none;
}

h1, h2{
  font-family: 'Noto Sans TC', sans-serif;
}

img{
    width: 100%;
}

a:link{
  text-decoration: none;
}


/*Class Selectors*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start; /*Vertical align box inside row. Check your notes*/
  justify-content:center;
  width: 100%;

  background-repeat: no-repeat;
  background-size:cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.rownav{
  justify-content: space-between;
  position: fixed;
  background-color:rgba(240,244,248,0.6);

}

.col-15{
  flex:15%;
  max-width:15%;
  padding:10px;
}
.col-25{
  flex:25%;
  max-width:25%;
}

.col-25 > p span {
  color:tomato;
}

.col-35{
  flex:35%;
  max-width:35%;
  padding:10px;
}
.col-50{
  flex:40%;
  max-width:40%;
}
.col-100{
  flex:100%;
  max-width:100%;
}

.rownav > h2{
  padding-left: 10px;
  
}

.rowmain{
  padding-top: 60px;
  background-image: url('images/main.jpg');
}
.rowskills{
  background-image: url('images/skills.jpg');
}

.rowprojects{
  background-image: url('images/projects.jpg');
  background-repeat: no-repeat;
}

.pageicon{
  width:25px;
  vertical-align: text-bottom;
}

.button {
  background-color: white; 
  color: black; 
  margin: 4px 2px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: 2px solid #008CBA;
  -webkit-transition-duration: 0.4s; /* Safari: source: I got this from w3school */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 12px;
}

.button:hover {
  background-color: dodgerblue;
  color: white;
}

.gridbox{
  background-color: rgb(212,219,227);
  text-align: center;
  margin:150px 50px 150px 50px;
  padding: 50px 4px;
  height: 250px;
}

.gridbox > img{
  width: 30%;
}

.gridproject{
  background-color: rgb(212,219,227);
  text-align: center;
  margin:150px 40px 150px 40px;
  padding: 20px 4px;
  height: 200px;
}

.gridproject a:hover {
  background-color:rgb(170, 197, 228)
    }
.gridproject a {
  color:rgb(134, 21, 49)
    }

.section{
  text-align: center;
  padding:50px;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

.footerimg{
  margin:-20px;
  text-align: center;
}
.footerimg img{
  width:30px;
  float: top;
}

/*Batman Mask is coming from left side and dissapear*/
    @keyframes mask_entrance {

        from {
            opacity: 0.0;
            width: 15%;
        }

        to {
            opacity: 1.0;
            width: 75%;
        }
}
  #mask{
    animation-name: mask_entrance;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    width:75%;
  }
  #brucepic{
    top:40px;
    left:40%;
    z-index:91;
    width:120%;
  }
 
  /*RESPONSIVE*/
  @media screen and (max-width:900px) {
    .gridbox{
      margin:50px 10px 10px 30px;
      padding: 50px 4px;
    }
    
    .gridproject{
      margin:50px 10px 50px 10px;
      padding: 10px 4px;
      height: 250px;
    }
  }

  @media screen and (max-width: 600px) {
    .row, .rownav, .navbar {   
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }

    .rowmain{
      align-items: center;
      text-align: center;
    }

    [class*="col-"] {
      flex: 100%;
      max-width: 100%;
      padding:10px;
      justify-content: center;
    }

    .gridbox{
      margin:50px 30px 50px 30px;
      padding: 50px 4px;
    }
    
    .gridproject{
      margin:50px 30px 50px 30px;
      padding: 30px 4px;
    }
  
    #brucepic
    {
      display:none;
    }
    #mask
    {
      display:none;
    }
      
  .button {
    margin: 2px 2px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
  }
  }